*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}
body{
  background:#1d1830;
  font-family:Arial, Helvetica, sans-serif;
}

.app{
  min-height: 100vh;
  
}.navbar{
    width:1920px;
    height:118px;
    display:flex;
    align-items:center;
    background:#27233A;
    padding:0 16px;
}

.logo{
  margin-right:16px;
  width: 186px;
  height: 42px;
}

.cashier{
  margin-right:270px;
  margin-left:auto;
  width: 253px;
  height: 42px;
    
}
.home{
  width: 40px;
  height:40px ;
  box-shadow: #ffcf55;
  position: fixed;
}
.unbox,
.Battles{
  width: 114px;
  height: 40px;
  border-radius: 4px;
  mix-blend-mode: luminosity;
}
.truck,
.group2011,
.alarm,
.huge,
.spongebob{
  margin-left:16px;
}
.container{
  display:flex;  
  width:100%;
}
.page{
  width:1920px;
  margin:0 auto;
}
.leftbar{
  width: 300px;
  height: 1004px;
  top: 76px;
  

}
.main{
  width: 1388px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}
.top{
  display: flex;
  gap: 20px;
}
.cards{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.last{
  margin-top:30px;
}
.rainpot{
  width: 686px;
  height: 136px;
  top: 180px;
  left: 412px;

}
.gamemode{
  width: 408px;
  height: 75px;
  top: 372px;
  display: block;
  margin: 30px auto;
  left: 790;
}
.car{
  width: 572px;
  height: 224px;
  top: 467px;
  left: 412px;
  border-radius: 8px;
  border: 1px solid #ffcf55;

}
.bag{
  width: 572px;
  height: 278px;
  top: 467px;
  left: 1004px;
  border: 0.93px #ffcf55;
}
.shoes{
  width: 372px;
  height: 184px;
  top: 813px;
  left: 412px;

}
.head{
  width: 372px;
  height: 184px;
  top: 813px;
  left: 808px;
}
.watch{
  width: 372px;
  height: 184px;
  top: 813px;
  left: 1204px;
}

.pay{
  width: 50px;
  height: 50px;
  
}

.paymenttitle h2{
  color:#ffffff;
  font-size:20px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  align-items: center;


}

.paymentheader{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:40px 0 20px;
}
.paymenticons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px auto;
  width: 100%;
}
.crypto{
  text-align:center;
  color:#B9B5C8;    
  font-size:16px;
  margin-top:18px;
  margin-bottom:30px;
}

.crypto span{
  color:#FFB84D;
  font-weight:600;
}

.rec{
  width:1385px;
  height:248px;
  background:linear-gradient(
    90deg,
    #241f38 0%,
    #1b2238 100%
    );
  border-radius:4px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 60px auto 0;
}
  
.footerlinks{
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.column h3{
  color: #FFB84D;
  font-size: 20px;
  margin-bottom: 18px;
}

.column p{
  color: #B9B5C8;
  font-size: 16px;
  margin: 10px 0;
}
.footer{
  text-align: center;
  color: #7F7A93;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.rightbar{
  width: 232px;
  height: 1134px;
  top: 76px;
  left: 1688px;
  display: block;
}
